<div class="row">
  <h3>Result</h3>
  <% if @microposts.any? %>
    <h3>Microposts (<%= @microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
  <% else %>
    <h3>Not found micropost included such word: <%=  @word %></h3>
  <% end %>
</div>